html,
body {
    margin: 0;
    padding: 0;
    background: black;
    height: 100%;
    width: 100%;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
}

.current-img,
.gif-overlay {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    display: block;
}

.current-img {
    position: relative;
    z-index: 1;
}

.gif-overlay {
    position: absolute;
    height: auto;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
}

.gif-time-machine-construct {
    left: 0%;
    top: 55%;
    width: 100%;
}

.gif-danse-marlene {
    left: 0%;
    top: 55%;
    width: 100%;
}

.gif-danse-marlene-2 {
    left: 2%;
    top: 75%;
    width: 40%;
}

.gif-danse-cheval {
    left: 50%;
    top: 75%;
    width: 40%;
}

.gif-QQR-0 {
    left: 2%;
    top: 65%;
    width: 90%;
}

.gif-QQR-1 {
    left: 54%;
    top: 60%;
    width: 47%;
}

.gif-QQR-2 {
    left: 54%;
    top: 56%;
    width: 47%;
}

.overlay-video {
    position: absolute;
    inset: 0;
    margin: auto;
    width: auto;
    height: auto;
    z-index: 2;
    pointer-events: none;
    display: none;
}

.video-course-poursuite {
    max-width: 100vw;
    max-height: 100vh;
}

.video-game-over {
    left: 0%;
    top: 83%;
    width: 80%;
}

.video-m-chargement {
    left: 0%;
    top: 70%;
    width: 80%;
}

/* Clickable zone */

.clickable-zone {
    display: block;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.25s ease;
    background-color: rgba(255, 255, 0, 0);
    z-index: 10;
}

.clickable-zone.adminMode {
    background-color: rgba(48, 19, 212, 0.6);
}

.clickable-oval {
    clip-path: ellipse(50% 50% at 50% 50%);
}

.clickable-arrow {
    clip-path: polygon(5% 25%,
            60% 35%,
            57% 0%,
            95% 48%,
            56% 100%,
            60% 65%,
            5% 75%);
    aspect-ratio: 2 / 1;
}

.clickable-square:hover,
.clickable-oval:hover,
.clickable-arrow:hover {
    background-color: rgba(255, 255, 0, 0.4);
}

.clickable-back {
    background-color: rgba(104, 16, 205, 0.6);
}

/* count down */

.chrono-wrapper {
    position: absolute;
    top: 88%;
    left: 25%;
    transform: translateX(-50%);
    display: none;
    z-index: 10;
}

.chrono-wrapper.visible {
    display: flex;
}

#countdown {
    color: #7e0000;
    font-size: 5rem;
    font-family: "DejaVu Sans", system-ui, sans-serif;
    font-weight: bold;
}

/* passowrd input */

.input-group.visible {
    display: block;
}

.input-group {
    display: none;
    position: absolute;
    top: 73%;
    left: 47%;
    height: 4%;
    width: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: white;
    z-index: 10;
}

/* input stylé */
#mdp-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-family: "DejaVu Sans", system-ui, sans-serif;
    color: #000000;
    text-align: center;
}

#mdp-input::placeholder {
    color: #5c5c5c;
}

.input-group input:focus {
    border-color: #4f9cff;
    box-shadow: 0 0 0 4px rgba(79, 156, 255, 0.3);
    background: #121212;
    border-radius: 10px;
}

/* text */

.img-wrapper {
    position: relative;
}

/* catapulte */

#catapultes-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    /* OK si ta bande jaune commence à 20% */
    height: 45%;
    /* OK si ta bande jaune fait 45% de l’image */
    pointer-events: none;
    z-index: 10;
}

.catapulte {
    position: absolute;
    height: auto;
    width: 13%;
    pointer-events: none;
}

#loading-text {
    top: 93%;
}

#stepId-text {
    top: 0%;
    color: #fff;
}

#stats-BG {
    top: 58%;
    left: 16%;
    width: 35%;
}

#SLPPE-stats-game-over {
    top: 30%;
    left: 16%;
    width: 69%;
}

#SLPPE-stats-percent {
    top: 49%;
    left: 23%;
    width: 55%;
}

.text-number {
    font-size: 5rem;
}

/* Texte overlay dans le même esprit que le reste */
.text-label {
    position: absolute;
    width: 100%;
    z-index: 10;
    max-width: 100%;
    text-align: center;
    font-family: "DejaVu Sans", system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    pointer-events: none;
    display: none;
}

/* credits painter*/
.text-window {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    height: 80%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    padding: 8px 12px;
    box-sizing: border-box;
    display: none;
    overflow-y: auto;
}

.text-window-content {
    text-align: center;
    font-family: "DejaVu Sans", system-ui, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    color: #fff;
    white-space: pre-wrap;
}